*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* footer start */
#footer{
    height: auto;
    display: flex;
    justify-content: center;
}
#Container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px , 1fr));
    gap: 10px;
    margin: 20px 0px;    
}
.footer-content{
    padding: 0px 10px;
 }
 .footer-content ul{
    padding-left: 5%;
    text-align: center;
 }
.footer-content ul li{
    list-style: none;
    font-weight: normal;
    margin: 15px 0px;
}
.footer-content ul li h3{
    
    margin-bottom: 30px;
}
.footer-content ul li a{
    text-decoration: none;
    color: #434343;
}
.footer-content ul li a:hover {
    text-decoration: underline;
    font-weight: 600;
}
#Container h2{
    color: black;
    cursor: pointer;
    font-size: 25px;
    font-family: serif;
    font-weight: bold;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: grey;
}
/* footer end  */